* {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

header {
    height: 93px;
    background-image: url(img/fon/MvJ2LNzm1ts.jpg);
    background-repeat: no-repeat;
    background-color: #121212;
    padding-top: 30px;
    padding-left: 200px;
    padding-bottom: 20px;
}

.menu li {
    display: inline;
    outline: 1px solid black;
    width: 200px;
    height: 50px;
    padding-left: 30px;
    padding-top: 10px;
}

.menu {
    padding-top: 40px;
}

.menu li,
.menu li a {
    text-decoration-style: none;
    color: beige;
    font-family: cursive;
    font-style: normal;
    font-size: 25px;
    line-height: 40px;
    text-decoration: none;
    list-style-type: none;
    text-transform: uppercase;
}

.menu li a:hover {
    color: red;
    font-style: oblique;
}

.menu li:hover {
    color: red;
    font-style: oblique;
}

.menu li a:active {
    color: darkblue;
}

.menu li:active {
    color: darkblue;
}

div {
    background-image: url(img/fon/222222.jpg);
    text-align: center;
    padding-top: 40px;
    padding-left: 50px;
    padding-bottom: 200px;
}

h1 {
    color: black;
    font-family: arial;
    font-size: 55px;
    padding-bottom: 40px;
}

.product {
    color: #444;
    font-family: serif;
    font-style: oblique;
    font-size: 40px;
}

.main {
    color: aliceblue;
    font-size: 30px;
    line-height: 40px
}

.heading {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.description {
    color: #707070;
    font-size: 14 px;
    font-style: italic;
    line-height: 16px;
}

.detailed {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.link {
    color: black;
    text-decoration: none;
    font-family: inherit;
    font-size: 22px;
}

.characteristics {
    color: #444;
    font-style: normal;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 27px;
    list-style-image: url(img/list.png);
}

img[class="picture"] {
    outline: 3px solid grey;
}

input[type="text"],
input[type="email"] {
    width: 170px;
    height: 20px;
    font-family: monospace;
    text-align: center;
    background-color: beige;
}

textarea {
    background-color: beige;
    border: 2px solid #ccc;
}

input[type="submit"],
input[type="reset"] {
    color: black;
    width: 220px;
    height: 35px;
    font-size: 16px;
    background-color: darkgrey;
}

footer {
    color: aliceblue;
    background-color: black;
}
